---
import Giscus from "./comments/Giscus.astro";
import { customConfig } from "@/custom.config";

const { comments } = customConfig;
---

{comments.enabled && comments.provider === "giscus" && (
	<div class="py-16">
		<Giscus />
	</div>
)}
