---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Data Is Dead, Long Live Value.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p class="mb-4">Hi, I’m Chojan Shang.</p>
		<p class="mb-4">
			Passionate about open source. Stay curious about knowledge. Build large-scale systems. Live
			alongside data.
		</p>
		<p class="mb-4">
			<li>
				I'm currently a member of the GenAI Team at <a
					href="https://github.com/vesoft-inc/"
					target="_blank">Vesoft Inc. (NebulaGraph)</a
				>, exploring the infrastructure and applications of AI and Graph (Sep 2024 - Present).
			</li>
			<li>
				I was a founding member of <a
					href="https://github.com/datafuselabs/databend/"
					target="_blank">Databend</a
				> (early employee, core code/doc/community contributor) (Jul 2021 - Aug 2024), building the
				future of cloud [Data + AI] analytics.
			</li>
			<li>
				I'm also a PMC Member of <a
					href="https://github.com/apache/incubator-opendal"
					target="_blank">Apache OpenDAL™</a
				>, dedicated to creating a unified data access experience for developers.
			</li>
			<li>
				I hold a Master's degree in Applied Mathematics and Data Science (Sep 2022 - Aug 2024) and a
				Bachelor's degree in Computer Science and Technology (Sep 2017 - Jun 2021).
			</li>
		</p>
	</div>
</PageLayout>
